<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.17.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGet.Common" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Configuration" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.DependencyResolver" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Packaging.Core.Types" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Protocol.Core.Types" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Protocol.Core.v3" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Repositories" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.RuntimeModel" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.0.0-rc-2048" targetFramework="net461" />
  <package id="xunit" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.assert" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.core" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.2.0-beta4-build3444" targetFramework="net461" />
</packages>